<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.illinois.entm.sawbodeployer">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".DirectWifi.GlobalApplication"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name="edu.illinois.entm.sawbodeployer.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.illinois.entm.sawbodeployer.MainActivity"/>

        <activity android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden" />

        <activity android:name=".DirectWifi.WiFiDirectActivity"/>

        <service android:enabled="true" android:name=".DirectWifi.FileTransferService" />
        <service android:enabled="true" android:name=".DirectWifi.WiFiClientIPTransferService" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="edu.illinois.entm.sawbodeployer"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/myvideopaths" />
        </provider>

        <provider android:authorities="com.facebook.app.FacebookContentProvider1200851250026974"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true">
        </provider>

    </application>

</manifest>